*.iml
*.idea
cart-service/target/
client/ecommerce-ui-jwt/node_modules/
cart-service/target/
client/ecommerce-ui-jwt/node_modules/
client/ecommerce-ui-jwt/src/app/generated/
discovery-eureka-service/target/
gateway-oauth-resource/target/
generated/
logs/
payment-service/target/
products-service/generated/
products-service/target/
security-oauth-server/target/
user-service/target/
zipkin-service/target/

